.toolbar {
	padding: var(--space-12);
	border-top: 1px solid var(--color-border);
	display: flex;
	align-items: center;
	flex-shrink: 0;
}

.toolbar--between {
	justify-content: space-between;
}

.toolbar-button-label {
	display: flex;
	align-items: center;
	gap: var(--space-4);
}
